.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.topSection {
    display: flex;
    height: 50%;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.bottomSection {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
}

.fileInsert {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}
.fileInsert .inputs {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.fileInsert button {
    padding: 0;
    width: 70px;
    height: 28px;
}

.showSheet {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-right: 1px solid #ccc;
}

.final_chart {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.4);
}
.final_chart .results_text {
    margin: auto;
}

.results_text {
    margin: 40px;
}

.detail_charts {
    display: flex;
    justify-content: center;
    gap: 160px;
}
