.panel {
  position: relative;
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.panelImage {
  width: 480px;
  height: auto;
  object-fit: contain;
}

.songTitle {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.songArtist {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 5px;
  width: 60px;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  filter: invert(1);
}

.button:hover {
  transform: scale(1.2);
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  font-weight: bold;
}
