.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  transition: height 0.3s ease-in-out;
}

/* 헤더가 확장 */
.header.expanded {
  height: 25vh;
}

/* 홈 버튼 (그림) */
.home {
  position: absolute;
  top: 20px; 
  left: 40px;
  width: 40px;
}

/* 메뉴 스타일 */
.menu {
  display: flex;
  gap: clamp(20px, 4vw, 80px);
  position: absolute;
  top: 28px; 
  right: 40px;
  transition: all 0.3s ease-in-out;
}

/* 메뉴 확장 스타일*/
.menuExpanded {
  gap: clamp(20px, 4vw, 80px);
}

/* 메뉴 항목 */
.menuItem {
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}

.menuItem:hover {
  color: #E91B1B;
}

/* 연주하기 하위 메뉴 */
.subMenu {
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px;
}
