.container {
  display: flex;
  width: 80vw;
  justify-content: center; /* 전체적으로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 3vw;
}

.uploadButton {
  padding: 15px 150px;
  margin-top: 60px;
}