.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  /* height: 100vh; */
  color: white;
}

.audioControls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.audioControls button {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.audioControls button:hover {
  background-color: #45a049;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 150px;
  background-color: #3a6ea5; /* 부드러운 보라색 배경 */
  color: white;
  border: none;
  border-radius: 15px; /* 둥근 모서리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 미세한 그림자 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.uploadButton:hover {
  background-color: #5c90c7; /* 호버 시 약간 진한 색상 */
}

.uploadButton:active {
  transform: scale(0.98); /* 클릭 시 살짝 눌리는 효과 */
}

.uploadButton .icon {
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}