.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.container > * {
    margin-bottom: 20px;
}

.renderButton {
    margin-left: 10px;
}

Button {
    margin-bottom: 40px;
    padding: 15px 15px;
}