.songCard {
  display: flex;
  margin-bottom: 16px;
  padding: 27px;
  width: 95%;
  min-width: 540px;
  max-width: 840px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
  
.songCard:hover {
  transform: scale(1.05);
}

.songInfo {
  flex: 1;
  text-align: center;
  color: white;
}

.songCard h3 {
  font-size: 20px;
}
  
.buttonContainer {
  display: flex;
  gap: 5px;
}
.sheetButton,
.deleteButton {
  margin: 0;
}

  
.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
  
.deleteButton:hover {
  background-color: darkred;
}
  
.sheetButton {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
  
.sheetButton:hover {
  background-color: darkorange;
}

.sheetButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}